.text-shadow {
  text-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.3);
}

.input-primary {
  @apply border-2 rounded outline-none font-medium border-gray-300 text-gray-500 duration-200;
}

.btn-cta {
  @apply border-2 rounded outline-none font-medium duration-200 inline-block w-24 py-1 mx-1 text-center border-red-primary text-red-primary cursor-pointer;

  &.active {
    @apply bg-red-primary text-white;
  }
}

.sidebar_menu {
  @apply block w-full px-4 py-2 rounded font-medium text-gray-200 duration-200 my-2;

  &.active {
    @apply bg-white text-red-primary;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.title {
  @apply font-bold tracking-wide text-black-55 uppercase;
}

::-webkit-calendar-picker-indicator {
  display: none;
}
