<template>
  <div
    class="relative flex flex-col justify-center h-32 col-span-4 px-4 overflow-hidden rounded shadow-md group"
    :style="'background-color:'+ color +';'"
  >
    <span
      class="text-sm font-semibold leading-none tracking-wide uppercase text-black-35"
    >{{ title }}</span>
    <h1 class="text-5xl font-bold leading-none tracking-wide text-white text-shadow">{{ jumlah }}</h1>

    <div
      class="absolute bottom-0 left-0 w-full h-2 duration-200 bg-black-15 group-hover:bg-black-30"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    },
    jumlah: {
      type: String,
      default: ""
    }
  }
};
</script>
