<template>
  <div id="grafik_jenis_terlaris"></div>
</template>

<script>
import ApexCharts from "apexcharts";

export default {
  props: {
    jenis: {
      type: Array,
      default: [""]
    },
    pjenis: {
      type: Array,
      default: [0]
    }
  },
  mounted() {
    new ApexCharts(document.querySelector("#grafik_jenis_terlaris"), {
      chart: {
        width: "100%",
        type: "pie"
      },
      series: this.pjenis,
      dataLabels: {
        enabled: false
      },
      labels: this.jenis,
      tooltip: {
        y: {
          formatter: value => {
            return "Terjual " + value + " Barang";
          }
        }
      },
      plotOptions: {
        pie: {
          expandOnClick: false
        }
      }
    }).render();
  }
};
</script>

<style lang="scss" scoped>
</style>
