<template>
  <div id="grafik_merk_terlaris"></div>
</template>

<script>
import ApexCharts from "apexcharts";

export default {
  props: {
    merk: {
      type: Array,
      default: [""]
    },
    pmerk: {
      type: Array,
      default: [0]
    }
  },
  mounted() {
    new ApexCharts(document.querySelector("#grafik_merk_terlaris"), {
      chart: {
        type: "bar",
        height: 300,
        toolbar: {
          show: false
        }
      },
      series: [
        {
          name: "Penjualan",
          data: this.pmerk
        }
      ],
      plotOptions: {
        bar: {
          horizontal: true
        }
      },
      dataLabels: {
        enabled: false
      },
      xaxis: {
        categories: this.merk
      },
      yaxis: {
        min: 0,
        max: 10
      },
      tooltip: {
        y: {
          formatter: value => {
            return value + "%";
          }
        }
      }
    }).render();
  }
};
</script>
