<template>
  <div id="grafik_penjualan_mingguan"></div>
</template>

<script>
import ApexCharts from "apexcharts";

export default {
  props: {
    datapmingguan: {
      type: Array,
      default: [0, 0, 0, 0, 0, 0, 0]
    }
  },
  mounted() {
    new ApexCharts(document.querySelector("#grafik_penjualan_mingguan"), {
      chart: {
        type: "line",
        height: "450px",
        toolbar: {
          show: false
        },
        zoom: {
          enabled: false
        }
      },
      stroke: {
        show: true,
        curve: "smooth",
        lineCap: "butt",
        width: 4
      },
      markers: {
        size: 6,
        strokeColors: "#fff",
        strokeWidth: 2,
        hover: {
          size: undefined,
          sizeOffset: 3
        }
      },
      series: [
        {
          name: "Penjualan",
          data: this.datapmingguan
        }
      ],
      xaxis: {
        categories: [
          "Senin",
          "Selasa",
          "Rabu",
          "Kamis",
          "Jum'at",
          "Sabtu",
          "Minggu"
        ]
      },
      yaxis: {
        min: 0,
        max: 10
      },
      tooltip: {
        y: {
          formatter: value => {
            return value + "%";
          }
        }
      }
    }).render();
  }
};
</script>
