<template>
  <div
    class="w-full px-4 py-2 rounded"
    :class="status == 'error' ? 'bg-red-200 text-red-800' : status == 'success' ? 'bg-green-200 text-green-800' : ''"
  >
    <span class="font-light capitalize">{{ pesan }}!</span>
  </div>
</template>

<script>
export default {
  props: {
    status: {
      type: String,
      default: "error"
    },
    pesan: {
      type: String,
      default: "Pesan"
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
